{% extends 'bboard/base.html' %}

{% load static %}
<title>{{ title }}</title>
{% block content %}

<link rel="stylesheet" href="{% static 'css/styles_1.css' %}">
<p class="about-message">О сайте</p>
<p>Сайт объявлений о продаже Б/У игровых приставок</p>
<p>Контакты:</p>
<p>Телефон: (999)999-99-99</p>
<p>Почта: BoomerGame@mail.ru</p>
<p>Адрес: г. Москва, ул. Пушкина, 100</p>
<p>Данный сайт является учебным проектом</p>
<h3>На сайте <span><b>{{ count_bbs }}</b></span> объявлений</h3>

{% endblock content %}