<!DOCTYPE html>
<html lang="en" data-color-scheme="grey">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles_1.css' %}">
</head>
<body>
<div class="site-wrapper">
<header>
    <div>
      <span>Цветовая палитра:</span>
      <select class="generic-button" name="color-scheme" size="1" onclick="changeColor()">
                <option value="grey">Серая</option>
                <option value="pink">Розовая</option>
                <option value="blue">Голубая</option>
                <option value="green">Зелёная</option>
                <option value="yellow">Жёлтая</option>
            </select>
      <ul class="nav">
        <li><a class="nav-link active" aria-current="page" href="{% url 'bboard:index' %}">Главная</a></li>
        <li><a class="nav-link" href="{% url 'bboard:about' %}">О сайте</a></li>
        <li><a class="nav-link" href="{% url 'bboard:add_bb' %}">Создать объявление</a></li>
        {% if not user.is_authenticated %}
            <li><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
            <li><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
        {% else %}
            <li><a class="nav-link" href="{% url 'users:profile' pk=user.pk %}">{{user.username}}</a></li>
            <li><a class="nav-link" href="{% url 'users:logout' %}">Выйти</a></li>
            <li><a class="nav-link" href="{% url 'admin:index' %}">Администрирование Django</a></li>
        {% endif %}
      </ul>
    </div>
</header>



<main>

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}

</main>

    <footer>
        <div style="justify-content: ">
           <p class="p-footer">Invisible Footer</p>
       </div>
    </footer>

</div>

<script src="{% static 'js/main.js' %}"></script>

</body>
</html>