{% extends 'bboard/base.html' %}
{% load static %}

{% block content %}

<div class="postings-declaration">
<h1>Объявления</h1>
    <form class="search-form" action="{% url 'bboard:search_bb' %}" method="get">
        <input class="generic-input-form" type="search" name="query">
        <button class="generic-button" type="submit">Поиск</button>
    </form>
</div>
{% if page_obj|length == 0 %}
<h2>По вашему запросу не найдени ни одного объявления!</h2>
{% else %}
<div class="all-postings">
{% for bb in page_obj %}
        <ul class="individual-container">
            {% if bb.image %}
            <li class="bb-image"><div class="image-positioning"><img src="{{ bb.image.url }}"></div></li>
            {% else %}
            <li class="bb-image"><div class="image-positioning"><img src="{% static 'img/no_image.jpg' %}"></div></li>
            {% endif %}
            <li class="bb-title"><a href="{% url 'bboard:read_bb' pk=bb.pk %}">{{ bb.title }}</a></li>
            <li class="bb-author">Автор: <a href="{% url 'bboard:user_bbs' user_id=bb.author.pk %}">{{ bb.author }}</a></li>
            <li class="bb-content">Описание: <a>{{ bb.content }}</a></li>
            <li class="bb-published">Дата публикации: <a>{{ bb.published|date:"d.m.Y H:i:s" }}</a></li>
        </ul>
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя&raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock content %}
