{% extends 'bboard/base.html' %}
{% load static %}

{% block content %}

<header>
            <div>
              <ul class="nav">
                <li><a class="nav-link active" aria-current="page" href="{% url 'bboard:index' %}">Главная</a></li>
                <li><a class="nav-link" href="{% url 'bboard:about' %}">О сайте</a></li>
                <li><a class="nav-link" href="{% url 'bboard:add_bb' %}">Создать объявление</a></li>
                {% if not user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
                    <li><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'users:profile' pk=user.pk %}">{{user.username}}</a></li>
                    <li><a class="nav-link" href="{% url 'users:logout' %}">Выйти</a></li>
                    <li><a class="nav-link" href="{% url 'admin:index' %}">Администрирование Django</a></li>
                {% endif %}
              </ul>
            </div>
</header>

{% if user == request.user %}
    <h2 class="declaration-user-info">Мои объявления</h2>
{% else %}
    <h2 class="declaration-user-info">Обьявления пользователя {{ user.username }}</h2>
{% endif %}

<div class="all-postings">
        {% for bb in bbs %}
                <ul class="individual-container">
                    {% if bb.image %}
                    <li class="bb-image"><div class="image-positioning"><img src="{{ bb.image.url }}" width="150px" height="150px"></div></li>
                    {% else %}
                    <li class="bb-image"><div class="image-positioning"><img src="{% static 'img/no_image.jpg' %}" width="150px" height="150px"></div></li>
                    {% endif %}
                    <li class="bb-title"><a href="{% url 'bboard:read_bb' pk=bb.pk %}">{{ bb.title }}</a></li>
                    <li class="bb-author">Автор: <a href="{% url 'bboard:user_bbs' user_id=bb.author.pk %}">{{ bb.author }}</a></li>
                    <li class="bb-content">Описание: <a>{{ bb.content }}</a></li>
                    <li class="bb-published">Дата публикации: <a>{{ bb.published|date:"d.m.Y H:i:s" }}</a></li>
                </ul>
        {% endfor %}
        </div>

{% endblock content %}
