:root {
    --main_bg: rgba(253, 181, 215, 0.829);
    --border-color: rgb(0, 153, 255);
    /* --inside-color: pink; */
    --inside-color: pink;
}

body {
    background-color: var(--main_bg);
    font-family: "Comic Sans MS"
}

.images {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--main_bg);
    color: var(--border-color);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 10%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.img-fit {
    width: 50%;
    height: 50%;
}

.postings {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--main_bg);
    color: var(--border-color);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 10%;
    font-size: 20px;
}

.sidebar-1 {
    display: flex;
    flex-direction: row;
}

#navbar-main {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--main_bg);
    color: var(--border-color);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 10%;
}

#navbar-main li {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.nav-link {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--inside-color);
    padding: 10px;
    margin: 5px;
}

.reg-form {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--border-color);
}

.login-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--border-color);
}

.about-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--border-color);
}

.bb-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--border-color);
}

.generic-button {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--border-color);
}

.pagination {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--border-color);
}

.generic-description {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--border-color);
}

.search-form {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}