:root {
    --main_bg: rgba(253, 181, 215, 0.829);
    --border-color: rgb(0, 153, 255);
    --text-color: rgb(0, 153, 255);
    --inside-color: pink;
}

/*
:root {
    --main_bg: rgba(253, 181, 215, 0.829);
    --border-color: rgb(0, 153, 255);
    --text-color: rgb(0, 153, 255);
    --inside-color: pink;
}
*/

html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var(--main_bg);
    font-family: "Comic Sans MS";
    color: var(--text-color);
}

.site-wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

header {
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
    color: var(--text-color);
}

main {
    height: 40%;
}

footer {
    border-top: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
}

.p-footer {
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
    color: var(--inside-color);
}

img {
    width: 150px;
    height: 150px;
}

.nav-container {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.images {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--main_bg);
    color: var(--text-color);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 10%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.img-fit {
    width: 50%;
    height: 50%;
}

.postings-declaration {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.all-postings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.individual-container {
    background-color: var(--main_bg);
    color: var(--text-color);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 15%;
    padding: 0px;
}

.bb-image {
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    margin: 0px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.image-positioning {
    margin-top: 30%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30%;
}

.bb-title {
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0px;
    height:40px;
}

.bb-author {
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0px;
    height:40px;
}

.bb-content {
    overflow: hidden;
    text-overflow: clip;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0px;
    height:40px;
}

.bb-published {
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px 0px 10px 10px;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0px;
    height:40px;
}

.nav {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--inside-color);
    padding: 10px;
    margin: 5px;
}

.reg-form {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.login-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.about-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.bb-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.generic-input-form {
    border-radius: 10px;
    border-color: var(--inside-color);
}

.generic-button {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.update-profile-button {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-top: 25px;
    color: var(--text-color);
}

.pagination {
    justify-content: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.generic-description {
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    margin: 0px;
    color: var(--text-color);
}

.bb-content-detail {
    white-space: normal;
    word-break: break-word;
    overflow: auto;
    height: 20%;
    width: 30%;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    color: var(--text-color);
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-form {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: 20px;
}

.menu-details {
    list-style; none;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.declaration-user-info {
    text-align: center;
    margin-top: 50px;
}