:root {
    --main_bg: rgba(253, 181, 215, 0.829);
    --border-color: rgb(0, 153, 255);
    --text-color: rgb(0, 153, 255);
    --inside-color: pink;
}

/*
:root {
    --main_bg: rgba(253, 181, 215, 0.829);
    --border-color: rgb(0, 153, 255);
    --text-color: rgb(0, 153, 255);
    --inside-color: pink;
}
*/

html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var(--main_bg);
    font-family: "Comic Sans MS";
    color: var(--text-color);
}

header {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

footer {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.nav-container {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.images {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--main_bg);
    color: var(--text-color);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 10%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.img-fit {
    width: 50%;
    height: 50%;
}

.postings-declaration {
    text-align: center;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.all-postings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.individual-container {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--main_bg);
    color: var(--text-color);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 15%;
}

.individual-container li {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.nav {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--inside-color);
    padding: 10px;
    margin: 5px;
}

.reg-form {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.login-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.about-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.bb-message {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.generic-button {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.pagination {
    justify-content: center;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.generic-description {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-details {
    list-style; none;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--inside-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
}