{% extends 'bboard/base.html' %}
{% load static %}

{% block content %}

<header>
            <div>
              <ul class="nav">
                <li><a class="nav-link active" aria-current="page" href="{% url 'bboard:index' %}">Главная</a></li>
                <li><a class="nav-link" href="{% url 'bboard:about' %}">О сайте</a></li>
                <li><a class="nav-link" href="{% url 'bboard:add_bb' %}">Создать объявление</a></li>
                {% if not user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
                    <li><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'users:profile' pk=user.pk %}">{{user.username}}</a></li>
                    <li><a class="nav-link" href="{% url 'users:logout' %}">Выйти</a></li>
                    <li><a class="nav-link" href="{% url 'admin:index' %}">Администрирование Django</a></li>
                {% endif %}
              </ul>
            </div>
</header>

<div class="generic-description">
<h3>Информация о пользователе</h3>
<div>Логин - {{ user.username }}</div>
<div>Имя - {{ user.first_name }}</div>
<div>Фамилия - {{ user.last_name }}</div>
<div>Электронная почта - {{ user.email }}</div>
<div>Дата регистрации: {{ user.date_joined }}</div>
<p>
<a href="{% url 'users:update_user' %}">
    <button class="update-profile-button" type="button">Изменить данные пользователя</button>
</a>
</p>
<p>
<a href="{% url 'users:change_password' %}">
    <button class="generic-button"  type="button">Сменить пароль</button>
</a>
</p>
</div>

{% endblock content %}